.users-list
{
  width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.p-chip
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.p-chip .highlightButton
{
  font-size: 1.3em;
  color: black;
  cursor: pointer;
}

.p-chip.highlighted-chip
{
  background: #6366F1;
  color: white;
}